@model IEnumerable<APPers.Models.Tab.TabListItem>

@{
    ViewBag.Title = "MyTabs";
}

<h2>Open Tabs</h2>

<p>
    <h5>Haven't started a tab yet? <input type="button" class="btn btn-primary btn-secondary" value="Start Tab" onclick="location.href='@Url.Action("Create", "Tab")'" /></h5>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TabId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TabPaid)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {

    if (item.TabPaid == false)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TabId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrandTotal)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TabPaid)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td></td>
        <td></td>
        <td>
            <input type="button" class="btn btn-primary  btn-sm" value="Close Tab" onclick="location.href='@Url.Action("Edit", "Tab", new { id = item.TabId })'" /> 
            <input type="button" class="btn btn-primary  btn-sm" value="View Tab" onclick="location.href='@Url.Action("Details", "Tab", new { id = item.TabId })'" /> 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.TabId })*@
        </td>
    </tr>
    }
}

</table>
